<div class="global">
	<div class="profil-header">
		<div class="picture img-responsive">
			<%= image_tag("user_pic/images1") %><!--<img src="../user_pic/images<%= rand(1..7) %>.jpeg"/>-->
		</div>
		<div class="user-info">
			<p class="name"><%= @user.first_name %> <%= @user.last_name %></p>
			<p class="age"><%= @user.age %> ans</p>
			<p class="email"><%= @user.email %></p>
			<a href="<%= city_path(@user.city.id) %>"><p class="email"><%= @user.city.name %></p></a>
			<p class="created_at">Inscrit depuis le : <%= @user.created_at.to_s.split(" ")[0...-1].join(" ") %></p>
		</div>
	</div>
	<div class="gossips">
		<div class="presentation">
			<p>Visualisez les gossips de <%= @user.first_name %></p>
		</div>
		<% @user.gossips.each do |current_gossip| %>
		<div class="gossip">
			<p>Title : <%= current_gossip.title %></p>
			<p>Content : <%= current_gossip.content %></p>
		</div>
		<% end %>
	</div>
</div>