<h1>Profil n°<%= @user.id %></h1>
<p>
	<%= @user.first_name %><br />
	<%= @user.last_name%><br />
	<%= @user.age%><br />
	<%= @user.email%><br />
	<%= @user.created_at%><br />
	<%= @user.updated_at%><br />


</p>
