<div class="container">
	<div class="form-group">
		<div class="form-group text-center">
			<a href="<%= cities_path %>"><%= @city.name %></a>
		</div>
		<% @city.users.each do |user| %>
		<div class="form-group border">
			<% user.gossips.each do |gossip| %>
			Auteur : <%= user.first_name %> <%= user.last_name %><br />
			Titre : <%= gossip.title %><br />
			Content : <%= gossip.content %><br /><br />
			<% already_liked = Like.where(gossip_id: gossip.id, user_id: session['user_id']).any? %>
<% if already_liked == true %>
<a href="<%= gossip_like_path(gossip_id: gossip.id, id: Like.where(gossip_id: gossip.id, user_id: session['user_id']).first.id) %>" data-method="patch"
	<% else %>
	<a href="<%= gossip_like_path(gossip_id: gossip.id, id: (Like.last.id + 1).to_i) %>" data-method="patch"
		<% end %>
		class="btn 
		<% if session['user_id'] %>
		<% if already_liked == true %>
		active btn-success
		<% else %>
		btn-outline-primary
		<% end %>
		<% else %>
		disabled btn-outline-primary
		<% end %>
		"><%= gossip.likes.count%></a>
<br /><br />



			<% end %>
		</div>
		<% end %>
	</div>
</div>