<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">The Gossip Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href=<%=team_path%>>La team<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%=new_contact_path%>>Contact<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%=new_gossip_path%>>Créer un gossip<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href=<%=cities_path%>>Villes<span class="sr-only">(current)</span></a>
      </li>
<!--       
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    -->
  </ul>
   <!--  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    <span class="navbar-text">

      <% if session['user_id'] %>

      <a href="<%= user_path(current_user.id) %>" class='border border-success text-center'><%= current_user.first_name %> <%= current_user.last_name %></a>
      <%= link_to "Se déconnecter", session_path(session[:user_id]), method: :delete, class: 'btn btn-warning'%>

      <% else %>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rejoignez-nous
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a href="<%= new_session_path %>" class="dropdown-item btn btn-outline-success">Se connecter</a>
          <a href="<%= new_user_path %>" class="dropdown-item btn btn-success">S'inscrire</a>
        </div>
      </div>

      <% end %>
      
    </span>
  </div>
</nav>